[Unit]
Description=A small and simple erp backend (sserpapi)
After=network.target

[Service]
#replace user_name with your actual user name
WorkingDirectory=/home/user_name/sserpapi/sserpapi
Environment="PATH=/home/user_name/sserpapi/.venv/bin"
ExecStart=/home/user_name/sserpapi/.venv/bin/uvicorn --workers 4 --host 0.0.0.0 --port 8000 sserpapi.main:app
Restart=always
               
[Install]
WantedBy=default.target